.Item {
  font-size: 1.6rem;
  text-align: left;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  counter-increment: user-list;
   &::before {
   margin-right: 10px;
   content: counter(user-list);
   border-radius: 100%;
   color: white;
   width: 1.2em;
   text-align: center;
   display: inline-block;
 }
}

.Name {
  font-weight: 700;
}

.Username {
  color: gray;
  &::before {
    content: ' @';
  }
}
